* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Responsive Design Section */

/* Mobile Styles */
@media only screen and (max-width: 500px) {

}

/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 800px) {

}

/* Desktop Styles */
@media only screen and (min-width: 801px) {

}

/* Styles Section */

/* General Styles */
body {
  font-size: 20px;
}

h1 {
  border-radius: 10px;
  border: 2px solid #75BEFF;
  text-align: center;
  padding: 1em;
  max-width: 15em;
  margin: 1em auto 1em auto;
}

h2 {
  color: #75BEFF;
  margin-top: 3em;
}

ul {
  padding-left: 2em;
}

li {
  padding-top: 0.5em;
}

.page {
  text-align: left;
  padding: 1em;
  max-width: 60em;
  margin: auto;
}

/* Menu Styles */
.navbar-dark {
  background-color: #75BEFF !important;
}

.logo {
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

/* Footer Styles */
.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid black;
  margin-top: 4em;
}

.avatar {
  display: flex;
  min-width: 3.5em;
  min-height: 3.5em;
  max-width: 3.5em;
  max-height: 3.5em;
  margin: 1em;
  border-radius: 2em;
}

#footer-content {
  padding: 0;
  margin: 0;
}
